*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  padding: 0 30px;
  height: 534px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.title {
  padding-top: 3px;
  background-color: #1b1919;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.button {
  height: 34px;
  width: 100%;
  border: 1px solid #ffffff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  border: 3px double #fff;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.result {
  width: 710px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.result__video-container {
  width: 100%;
  max-width: 710px;
  height: 100%;
  max-height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  min-height: 54px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.search-form__textfield {
  appearance: none;
  width: 225px;
  padding: 2px 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
}

.search-form__textfield::placeholder {
  color: inherit;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__checkbox-list {
  flex-grow: 1;
  width: 212px;
  display: flex;
  justify-content: space-between;
}

.search-form__label {
  width: fit-content;
  min-width: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  inset: 1px 1px;
  background-color: #fff;
}

.search-form__checkbox:active+.search-form__pseudo-checkbox::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  inset: 1px 1px;
  background-color: #fff;
}

.content__details {
  width: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: scroll;
}

.content__list-item {
  height: 107px;
}

.content__card-link {
  display: block;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__accent {
  opacity: 0.3;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  width: 200px;
  flex-shrink: 0;
  flex-grow: 1;
}

.content__video-card-title {
  padding-top: 4px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  height: 107px;
  width: 194px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}
